@charset "UTF-8";

.nav-menu-res {
  z-index: 99;
  width: 100%;
  height: 50px;
  position: absolute;
}

.menu_full {
  display: none;
}

.menu-hide{
  width: 200px;
  left: -205px;
  height: 100vh;
  position: fixed;
  top: 0px;
  transition: all .5s ease-in-out;
  text-align: center;
  z-index: 50;
  padding-top: 100px;
  background-color: #fff;
}

.show{
  left: 0px;
  transition: all .5s ease-in-out;
}

.menures__logo {
  width: 70%;
}

.hamburger_div {
  position: absolute;
  display: block;
  left: 25px;
  top: 20px;
  z-index: 99;
  width: 30px;
  transition: 0.5s ease-in-out;
  text-align: right;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + #contentDos {
  padding-top: 50px;
}

.hamburguer-slide {
  left: 150px;
}

.menuicon {
  background-color: #fff;
  height: 3px;
  width: 100%;
  margin-bottom: 4px;
  transition: 0.3s;
  float: right;
}

.menuicon--black {
  background-color: #000;
}

.menures {
  text-align: left;
  margin-top: 70px;
}

.menures li {
  list-style-type: none;
  margin-left: 5%;
  position: relative;
}

.menures a {
  text-decoration: none;
  color: #000;
  margin: 2px 0;
  display: inline-block;
  margin-left: 5px;
  transition: 0.5s;
}

.menu_active {
  height: 1em;
  background-color: #fff;
  width: 2px;
  display: inline-block;
  position: absolute;
  left: -5px;
  bottom: 5px;
}

.brochure__logo {
  margin-top: 20px;
}


@media (min-width: 992px) {


.menu_full {
  display: block;
  margin-top: 50px;
}

.menu__full-list {
  list-style-type: none;
}

.menu__full-list img {
  width: 120px;
}

.menu__full-list-img-black {
  display: none;
}

.menu__full-list-link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}

.menu__full-list-link-grey {
  color: #818589;
}

.menu-title {
  padding-left: 40px;
  margin: 8px 0;
  font-weight: 400;
}

.menu__full-list-link-select {
  font-weight: 600;
  color: #000;
}

.menu__full-list-link-select-black {
  font-weight: 600;
  color: #000;
}

}



@media (min-width: 1200px) {

}



@media (min-width: 1440px) {

}
