@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
	font-size: 12px;
}

h1, h2 {
	font-family: 'Fira Sans', sans-serif;
	margin:0;
}

/* CLASES PARA ANIMAR APARICIONES A MEDIDA QUE SE HACE SCROLL */
.element_hide{
	transform: translateY(40px);
	opacity: 0;
	transition: 0.6s;
}

.element_hide-show {
	transform: translateY(0px);
	opacity: 1;
}

/* CONTACTO FIXED */

.contact {
	position: fixed;
	bottom: 20px;
	right: 10px;
	text-align: right;
	z-index: 99;
}

.contact h4 {
	margin: 0;
}

.contact_block-top {
	background-color: #232223;
	color: #fff;
	padding: 30px 20px;
	border-radius: 15px 15px 0 0;
	visibility: hidden;
	opacity: 0;
	transition: 0.8s;
	text-align: left;
	display: none;
}

.contact_block-bottom {
	background-color: #fff;
	color: #414042;
	margin-bottom: 20px;
	padding: 30px 20px;
	border-radius: 0 0 15px 15px;
	visibility: hidden;
	opacity: 0;
	transition: 0.8s;
	text-align: left;
	display: none;
}

.contact_block-show {
	display: block;
	visibility: visible;
	opacity: 1;
}

.contact_button {
	background-color: #232223;
	width: 30px;
	height: 30px;
	padding: 20px 15px 10px 15px;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
}

.contact_button img {
	width: 100%;
	display: inline-block;
	text-align: center;
}

/* CONSTANTE PARA BACKGROUND IMAGES DE SECCIONES */
.background__image-cons {
	background-position: center center;
	background-size: cover;
	text-align: center;
}

/* SECCION HEADER */
.header {
	background-image: url(../images/bkg-1.jpg);
	height: 700px;
}

.header__logo {
	display: block;
	margin:0 auto;
	width: 80%;
	padding-top: 35vh;
}

.header__category {
	display: inline-block;
}

.header__category p {
	color: #fff;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 0.9em;
	font-weight: 500;
}

.header__icon {
	display: inline-block;
	width: 70px;
	margin: 30px 20px 0 20px;
}

.header__paragraph {
	color: #fff;
	margin-top: 50px;
}

/* SECCION DEL BRIEF DE LA EMPRESA */
.brief__section {
	background-image: url(../images/bkg-2.jpg);
	height: 700px;
	padding: 0 12vw;
}

.brief__paragraph {
	padding-top: 40vh;
	margin: 0;
	color: #fff;
	font-size: 1rem;
	font-weight: 300;
}

.brief__line {
	width: 130px;
	height: 3px;
	border-radius: 50px;
	background-color: #fff;
	margin: 20px auto 0 auto;
}

.brief__section-bottom {
	display: none;
}

/* SECTION SPONSORS */

.sponsors__section {
	padding: 5vh 12vw;
}

.sponsors__text {
	font-family: 'Ubuntu', sans-serif;
	font-size: 1rem;
	font-weight: 300;
	text-align: center;
}

.section__underline-black {
	width: 130px;
    height: 3px;
    border-radius: 50px;
    margin: 20px auto 0 auto;
	background-color: #2e2d2c;
}

.sponsors__flex {
	display: flex
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding: 5vh 0;
}

.sponsors__flex_item {
	width: 70%;
	margin: 10px 0;
}

/* SECCION CON ESTADISTICAS Y COUNTER */
.statistics__section {
	background-image: url(../images/bkg-3.jpg);
	padding: 15vh 5vw;
	color: #fff;
}

.section__underline-white {
	width: 130px;
    height: 3px;
    border-radius: 50px;
    margin: 20px auto 0 auto;
	background-color: #fff;
}

.statistics__section-block {
	margin-bottom: 40px;
}

.country_item {
	display: inline-block;
	margin: 0 2%;
}

.country_item h2 {
	color: #fff;
	font-size: 1.8em;
}

.country_item h4 {
	color: #fff;
}

/* SECTION CICLO IMAGEN */

.ciclo__section {
	padding: 5vh 10px;
	margin-bottom: 20px;
	text-align: center;
}

.ciclo__img {
	width: 100%;
}

.ciclo__iconography {
	width: 270px;
	margin-top: 20px;
}

/* RUBROS SECTION */

.rubro__section {
	padding: 5vh 0;
	text-align: center;
}

.rubro__flex {
	display: flex;
	flex-direction: column;
	margin-top: 40px;
}

.rubro__item {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	color: #fff;
	width: 100%;
  height: 0;
  padding-bottom: 100%;
}

.rubro__item-agua {
	background-image: url('../images/rubro-agua.jpg');
}

.rubro__item-climatizacion {
	background-image: url('../images/rubro-climatizacion.jpg');
}

.rubro__item-industrial {
	background-image: url('../images/rubro-industrial.jpg');
}

.rubro__item_icon {
	padding-top: 20%;
	width: 20%;
}

.rubro__item_title {
	text-transform: uppercase;
	font-size: 1.4rem;
	margin: 2px;
}

.rubro__item_text {
	padding: 0 15%;
	margin-top: 10%;
	font-size: 1rem;
}

/* PRODUCTOS SECTION */

.category__section {
	margin-top: 30px;
	padding: 0 10vw;
}

.categoria {
	margin-bottom: 100px;
}

.categoria__header {
	text-align: center;
	padding: 0 15vw;
	margin-bottom: 20px;
}

.categoria__header img {
	width: 100%;
}

.categoria__header p {
	font-size: 1.2em;
	text-align: left;
}

.product__slide {
	text-align: center;
}

.product__slide-subtitle {
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 5px;
}

.product__slide-title {
	text-transform: uppercase;
	font-size: 2rem;
	margin: 0px;
	color: #3C3C3B;
	margin-bottom: 5px;
}

.product__slide-division {
	width: 50%;
	height: 5px;
	border-radius: 20px;
	margin: 0 auto;
}

.frio {
	background-color: #0909B7;
}

.caliente {
	background-color: #F40C0C;
}

.liquido-industrial {
	background-color: #1184B7;
}

.agua-servida {
	background-color: #36926C;
}

.product__slide-img {
	width: 100%;
}

.product__slide-brand-icon {
	width: 50px;
	display: block;
	margin: 0 auto;
}

.product__ficha {
	text-transform: uppercase;
	background-color: #3e6f8c;
	border: none;
	margin-top: 30px;
	padding: 10px 15px;
	border-radius: 50px;
	font-weight: 900;
	color: #fff;
}


/* PARTNERS SECTION */

.partners__section {
	text-align: center;
	padding: 5vh 12vw;
}

.partners__title {
	font-family: 'Ubuntu', sans-serif;
	font-size: 1rem;
	font-weight: 300;
	text-align: center;
}

.partners__flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

.partners__item-img {
	width: 170px;
	margin: 5px 0;
}

/* CERTIFICADOS SECTION */

.certificados__section {
	background-image: url('../images/bkg-4.jpg');
	padding: 10vh 12vw;
}

.certificados__title {
	color: #fff;
	font-weight: 300;
	font-size: 1rem;
}

.certificados__quote {
	color: #fff;
	margin-top: 10px;
	font-size: 0.6rem;
}

.certificados__flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.certificados__flex-item {
	width: 60%;
	margin: 15px 0;
}

/* CONTACT SECTION */

.contact__section {
	text-align: center;
	padding: 10vh 12vw;
}

.contact__list {
	list-style: none;
	padding: 0;
}

.contact__list li {
	margin: 5px 0;
}


/* FOOTER */

.nereus__footer {
	background-color: #343434;
	padding: 50px 5vw;
}

.footer__img {
	width: 30%;
	display: block;
	margin: 0 auto;
}

.footer__span {
	color: #fff;
	display: block;
	margin: 20px auto 0 auto;
	text-align: center;
}
