@charset "UTF-8"; 

@media (min-width: 950px) {

.header {
	background-image: url(../images/bkg-1-1000.jpg);
	height: 820px;
}

.header__logo {
	width: 35%;
	padding-top: 280px;
}

.header__category p {
	font-size: 1.3em;
}

.header__icon {
	width: 90px;
}

.brief__section {
	background-image: url(../images/bkg-2-1000.jpg);
	height: 580px;
	padding: 0 35vw;
}

.brief__section h1 {
	padding-top: 130px;
	font-size: 2.8em;
}

.brief__section p {
	font-size: 1.3em;
	line-height: 1.4em;
}

.brief__section-bottom {
	background-image: url(../images/bkg-3-1000.jpg);
	height: 101px;
}

.ciclo__section {
	padding: 0 20vw;
	margin-bottom: 80px;
}

.statistics__section {
	background-image: url(../images/bkg-4-1000.jpg);
	height: 310px;
	padding: 0 5vw;
}

/*.statistics__section-block {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
}*/

.statistics__section-block p {
	font-size: 1.2em;
}

.statistics__section-block-separation {
	height: 40%;
	margin: 0 30px;
}

.country_item {
	display: inline-block;
	margin: 0 20px;
}

.country_item h2 {
	font-size: 2.4em;
}

.country_item h4 {
	font-size: 1.2em;
}

.marcas__section {
	background-image: url(../images/bkg-5-1000.jpg);
	height: 656px;
}

.socios {
	padding-top: 150px;
	margin-right: 80px;
	display: inline-block;
	vertical-align: top;
}

.socios__marca-icon {
	width: 280px;
}

.socios__marca-icon--circular {
	width: 90px;
}

.certificados {
	margin-top: 150px;
	display: inline-block;
	margin-left: 80px;
}

.certificacion__icon {
	display: inline-block;
	width: 100px;
	margin:0 40px;
}

.certificacion__icon--break {
	display: block;
	margin: 0 auto;
	width: 110px;
	margin-top: 40px;
}

.marcas__section-bottom {
	background-image: url(../images/bkg-6-1000.jpg);
	height: 155px;
}

.category__section {
	padding: 0 15vw;
}

.categoria__header {
	padding: 0 15vw;
}

.categoria__header img {
	width: 80%;
}

.categoria__header p {
	font-size: 1.4em;
}

.bottom__section  {
	background-image: url(../images/bkg-7-1000.jpg);
	height: 720px;
	margin-top: 120px;
}

.bottom__section h2 {
	text-align: left;
	font-size: 2.9em;
	color: #fff;
	padding: 300px 30vw 0 30vw;
}


}