@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
	font-size: 12px;
}

h1, h2 {
	font-family: 'Fira Sans', sans-serif;
	margin:0;
}

.contact {
	position: fixed;
	bottom: 20px;
	right: 10px;
	text-align: right;
	z-index: 99;
}

.contact h4 {
	margin: 0;
}

.contact_block-top {
	background-color: #232223;
	color: #fff;
	padding: 30px 20px;
	border-radius: 15px 15px 0 0;
	visibility: hidden;
	opacity: 0;
	transition: 0.8s;
}

.contact_block-bottom {
	background-color: #fff;
	color: #414042;
	margin-bottom: 20px;
	padding: 30px 20px;
	border-radius: 0 0 15px 15px;
	visibility: hidden;
	opacity: 0;
	transition: 0.8s;
}

.contact_block-show {
	visibility: visible;
	opacity: 1;
}

.contact_button {
	background-color: #232223;
	width: 30px;
	height: 30px;
	padding: 20px 15px 10px 15px;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
}

.contact_button img {
	width: 100%;
	display: inline-block;
	text-align: center;
}



.background__image-cons {
	background-position: center center;
	background-size: cover;
	text-align: center;
}

.header {
	background-image: url(../images/bkg-1.jpg);
	height: 700px;
}

.header__logo {
	display: block;
	margin:0 auto;
	width: 80%;
	padding-top: 300px;
}

.header__category {
	display: inline-block;
}

.header__category p {
	color: #fff;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 0.9em;
	font-weight: 500;
}

.header__icon {
	display: inline-block;
	width: 70px;
	margin: 30px 20px 0 20px;
}

.brief__section {
	background-image: url(../images/bkg-2.jpg);
	height: 700px;
	padding: 0 12vw;
}

.brief__section h1 {
	padding-top: 270px;
	text-transform: uppercase;
	color: #fff;
	text-align: left;
	display: block;
	margin: 0 auto;
	font-size: 2.5em;
	font-weight: 600;
}

.brief__section p {
	color: #fff;
	text-align: left;
	font-size: 1.2em;
	line-height: 1.3em;
}

.brief__line {
	width: 130px;
	height: 4px;
	border-radius: 50px;
	background-color: #fff;
	margin: 20px auto 0 auto;
}

.brief__section-bottom {
	background-image: url(../images/bkg-3.jpg);
	height: 80px;
}

.ciclo__section {
	padding: 0 10px;
	margin-bottom: 20px;
}

.ciclo__section img {
	width: 100%;
}

.statistics__section {
	background-image: url(../images/bkg-4.jpg);
	height: 350px;
	padding: 30px 5vw 0 5vw;
}

.statistics__section-block {
	margin-bottom: 40px;
}

.statistics__section-block-separation {
	display: none;
}

.statistics__section-block p {
	color: #60605d;
}

.country_item {
	display: inline-block;
	margin: 0 2%;
}

.country_item h2 {
	color: #60605d;
	font-size: 1.8em;
}

.country_item h4 {
	color: #60605d;
}

/*.country_item p {
	color: #60605d;
	font-size: 1.4em;
	display: inline-block;
	width: 40%;
	vertical-align: top;
	margin-top: 10px;
}*/


.marcas__section {
	background-image: url(../images/bkg-5.jpg);
	height: 660px;
}

.socios {
	padding-top: 30px;
}

.marcas__titles {
	font-weight: 500;
	color: #fff;
	font-size: 2em;
}

.title__underline {
	width: 150px;
	height: 4px;
	border-radius: 50px;
	background-color: #fff;
	margin: 3px auto 0 auto;
}

.socios__imgs {
	padding-top: 30px;
}

.socios__marca-icon {
	display: block;
	margin: 0 auto;
	width: 270px;
	margin-top: 15px;
}

.socios__marca-icon--circular {
	display: block;
	margin: 0 auto;
	width: 80px;
	margin-top: 15px;
}

.certificados {
	margin-top: 50px;
}

.certificacion__icons-section {
	margin-top: 30px;
}

.certificacion__icon {
	display: inline-block;
	width: 70px;
	margin:0 10px;
}

.certificacion__icon--break {
	display: block;
	margin: 0 auto;
	width: 80px;
	margin-top: 10px;
}

.marcas__section-bottom {
	background-image: url(../images/bkg-6.jpg);
	height: 80px;
}

.category__section {
	margin-top: 30px;
	padding: 0 10vw;
}

.categoria__header {
	text-align: center;
	padding: 0 15vw;
}

.categoria__header img {
	width: 100%;
}

.categoria__header p {
	font-size: 1.2em;
	text-align: left;
}

.product__flexslider {
	margin-top: 40px;
}

.product__section {
	display: none;
}

.product__slide {
	text-align: center;
}

.product__slide h3 {
	font-size: 2.3em;
	padding-bottom: 4px;
	border-bottom: 3px solid #3e6f8c;
	width: 90px;
	margin: 0 auto;
	color: #434041;
}

.product__slide p {
	font-size: 1.3em;
	margin-bottom: 8px;
}

.product__ficha {
	text-transform: uppercase;
	background-color: #3e6f8c;
	border: none;
	padding: 10px 15px;
	border-radius: 50px;
	font-weight: 900;
	color: #fff;
}

.bottom__section  {
	background-image: url(../images/bkg-7.jpg);
	height: 700px;
	background-size: cover;
	background-position: center center;
	position: relative;
}

.bottom__section h2 {
	text-align: left;
	font-size: 2.5em;
	color: #fff;
	padding: 280px 12vw 0 12vw;
	margin: 0;
}

.nereus__footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	right: 0;
}

.nereus__footer img {
	width: 100px;
	position: absolute;
	bottom: 15px;
	left: 15px;
}

.nereus__footer span {
	width: 180px;
	font-size: 1.1em;
	position: absolute;
	color: white;
	bottom: 15px;
	right: 0px;
}

