@charset "UTF-8";

@media (min-width: 768px) and (orientation: portrait) {

/* HEADER SECTION */

.header {
	background-image: url(../images/bkg-1-1700.jpg);
	height: 100vh;
}

.header__logo {
	width: 40%;
	padding-top: 40vh;
}

.header__icon {
	width: 60px;
}

.header__paragraph {
	font-size: 1.6rem;
	padding: 0 30vw;
}

/* BRIEF SECTION */

.brief__section {
	background-image: url(../images/bkg-2-1700.jpg);
	padding: 0 30vw;
	height: 1000px;
}

/* SECTION SPONSORS */

.sponsors__flex_item {
	width: 32%;
	margin: 10px 0;
}

/* SECCION CON ESTADISTICAS Y COUNTER */

.statistics__section {
	background-image: url(../images/bkg-3-1700.jpg);
}

/* RUBROS SECTION */

.rubro__flex {
	flex-direction: row;
}

.rubro__item {
	width: 33.3%;
  height: 0;
  padding-bottom: 33.3%;
}

.rubro__item_text {
	font-size: 0.7rem;
}

/* PARTNERS SECTION */

.partners__section {
	padding: 0px 20vw 15vh 20vw;
}

.partners__flex {
	flex-direction: row;
}

.partners__item-img {
	width: 33%;
	margin: 5px 0;
}

/* CERTIFICADOS SECTION */

.certificados__section {
	background-image: url('../images/bkg-4-1700.jpg');
	padding: 15vh 12vw;
}

.certificados__flex {
	flex-direction: row;
	flex-wrap: wrap;
}

.certificados__flex-item {
	width: 30%;
	margin: 15px 0px;
}

}


@media (min-width: 950px) and (orientation: portrait) {

/* HEADER SECTION */

.contact_button {
	width: 50px;
	height: 50px;
	padding: 25px 20px 15px 20px;
}

.header__category p {
	font-size: 1.3em;
}

.header__icon {
	width: 90px;
}

.header__paragraph {
	font-size: 2rem;
	padding: 0 30vw;
}

/* BRIEF SECTION */

.brief__section {
	height: 90vh;
}

.brief__paragraph {
	font-size: 1.2rem;
}

/* SECTION SPONSORS */

.sponsors__text {
	font-size: 1.2rem;
}

/* SECCION CON ESTADISTICAS Y COUNTER */

.statistics__section {
	background-image: url(../images/bkg-3-1700.jpg);
}

.statistics__title {
	font-size: 1.2rem;
}

.country_item {
	display: inline-block;
	margin: 0 20px;
}

.country_item h2 {
	font-size: 2.4em;
}

.country_item h4 {
	font-size: 1.4em;
}

/* SECTION CICLO */


.ciclo__section {
	padding: 0 15vw;
}

/* SECTION RUBRO */

.rubro__title {
	font-size: 1.2rem;
}

/* SECTION PRODUCTOS */

.product__slide {
	margin: 0 20px;
}

/* PARTNERS SECTION */

.partners__section {
	padding: 5vh 20vw;
}

.partners__title {
	font-size: 1.2rem;
}

/* CERTIFICADOS SECTION */

.certificados__section {
	padding: 20vh 12vw;
}

/* CONTACT SECTION */

.contact__title {
	font-size: 1.2rem;
}

/* FOOTER */

.nereus__footer {
	padding: 25px 5vw;
}

.footer__img {
	width: 20%;
	display: inline-block;
	vertical-align: middle;
}

.footer__span {
	display: inline-block;
	margin: 20px 8vw 0 auto;
	float: right;
	vertical-align: middle;
}



}

@media (min-width: 1100px) {

/* HEADER SECTION */

	.header {
		background-image: url(../images/bkg-1-1700.jpg);
		height: 100vh;
	}

	.header__logo {
		width: 250px;
	}

	.header__paragraph {
		font-size: 1.6rem;
		font-weight: 300;
		padding: 0 35vw;
	}

/* BRIEF SECTION */

	.brief__section {
		background-image: url(../images/bkg-2-1700.jpg);
		padding: 0 35vw;
		height: 1024px;
	}

	.brief__paragraph {
		font-size: 1.3rem;
	}

/* SPONSORS SECTION */

	.sponsors__section {
		padding: 10vh 25vw;
	}

	.sponsors__text {
		font-size: 1.2rem;
	}

	.sponsors__flex_item {
		width: 33%;
		margin: 10px 0;
	}

/* SECCION CON ESTADISTICAS Y COUNTER */

	.statistics__section {
		background-image: url(../images/bkg-3-1700.jpg);
		height: 990px;
	}

	.statistics__title {
		padding: 20% 30% 0 30%;
		font-size: 1.2rem;
	}

	.statics_one_section {
		display: inline-block;
		margin: 50px;
	}

	.statics__subtitle {
		font-size: 1.1rem;
		font-weight: 300;
	}

	.country_item {
		display: inline-block;
		margin: 0 20px;
	}

	.country_item h2 {
		font-size: 2.4em;
	}

	.country_item h4 {
		font-size: 1.4em;
	}

	/* CICLO SECTION */

	.ciclo__section {
		padding: 5vh 15vw;
	}

	.ciclo__iconography {
    width: 320px;
    margin-top: 20px;
	}

	/* SECTION RUBRO */

	.rubro__flex {
		flex-direction: row;
	}

	.rubro__item {
		width: 33.3%;
	  height: 0;
	  padding-bottom: 33.3%;
	}

	.rubro__title {
		font-size: 1.2rem;
	}

	.rubro__item_text {
		font-size: 1.2rem;
	}

	/* SECTION PRODUCTOS */

	.category__section {
		margin-top: 0px;
		padding: 10vh 20vw;
	}

	.categoria__header {
		padding: 0 35%;
	}

	/* PARTNERS SECTION */

	.partners__section {
    text-align: center;
    padding: 5vh 12vw;
	}

	.partners__title {
		font-size: 1.2rem;
	}

	.partners__flex {
		flex-direction: row;
	}

	.partners__item-img {
		width: 15%;
		margin: 20px;
	}



	/* CERTIFICADOS SECTION */

	.certificados__section {
		background-image: url('../images/bkg-4-1700.jpg');
		height: 1200px;
	}

	.certificados__title {
		padding: 35% 35% 0 35%;
		font-size: 1.2rem;
	}

	.certificados__flex {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.certificados__flex-item {
		width: 30%;
		margin: 15px 0px;
	}

	/* CONTACT SECTION */

	.contact__title {
		font-size: 1.2rem;
	}

	.contact__list li {
		margin: 5px 0;
		font-size: 1rem;
	}


	/* FOOTER */

	.nereus__footer {
		padding: 25px 5vw;
	}

	.footer__img {
		width: 10%;
		display: inline-block;
	}

	.footer__span {
		display: inline-block;
		margin: 20px 2vw 0 auto;
		float: right;
		font-size: 1rem;
	}

}



@media (min-width: 1440px) and (min-aspect-ratio: 16/9) {

	/* HEADER SECTION */

	.header__logo {
		width: 280px;
	}

	.header__category p {
	font-size: 1rem;
	}

	.header__paragraph {
	font-size: 1.4rem;
	padding: 0 40vw;
	}

	/* BRIEF SECTION */

	.brief__section {
		height: 120vh;
	}

	.brief__paragraph {
  padding-top: 45vh;
  font-size: 1.4rem;
  font-weight: 300;
	}

	.sponsors__text {
		font-size: 1.3rem;
	}

	/* SECCION CON ESTADISTICAS Y COUNTER */

	.statistics__section {
		background-image: url(../images/bkg-3-1700.jpg);
	}

	.statistics__title {
		font-size: 1.3rem;
	}

	/* CICLO SECTION */

	.ciclo__section {
		padding: 5vh 25%;
	}

	.ciclo__iconography {
    width: 320px;
    margin-top: 20px;
	}

	/* SECTION PRODUCTOS */

	.category__section {
		margin-top: 0px;
		padding: 10vh 25vw;
	}

	.categoria__header {
		padding: 0 35%;
	}

	/* CERTIFICADOS SECTION */

	.certificados__section {
		background-image: url('../images/bkg-4-1700.jpg');
	}

	.certificados__quote {
		font-size: 1rem;
	}

	/* CONTACT SECTION */

	.contact__title {
		font-size: 1.5rem;
	}

	.contact__subtitle {
		font-size: 1.2rem;
	}

	.contact__list li {
		margin: 5px 0;
		font-size: 1.1rem;
	}

	/* FOOTER */

	.nereus__footer {
		padding: 20px 5vw;
	}

	.footer__img {
		width: 10%;
	}

}
